# Build folders for all projects
**/bin/
**/obj/

# Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Web API secrets / environment files
Authentication/appsettings.Development.json
Authentication/.env
*.env

# text files
*.txt

# Logs
*.log
